<div class="content mat-app-background">
  <div class="header">header
    <div class="header__icons">

      <div class="header__icon mr-8" (click)="this.person_account()">
        <br />
<!--        <mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon>-->
        <mat-icon aria-label="Log in icon">person</mat-icon>
        <p>Log in</p>
      </div>

      <div class="header__icon ml-8" (click)="this.me()">
        <img
          src="https://fs-thb02.getcourse.ru/fileservice/file/thumbnail/h/a6526a0f517764e52ee8c31d63723276.jfif/s/100x100/a/177331/sc/6"
          alt="Ageev Dmitry" srcset="" height="50" width="50">
      </div>


    </div>
  </div>

</div>
