.nav {
  -webkit-transform: rotate(-4deg);
  display: flex;
  flex-wrap: wrap;
  //color: white;
  //overflow-x: scroll;
  padding: 10px;
  padding-left: 40px;

}


.nav::-webkit-scrollbar{
  display: none;
}

.nav > h2 {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  opacity: 0.7;
  transition: transform 50ms ease-out;
  font-weight: 500;
}

.nav > h2:hover {
  opacity: 1;
  transform: scale(1.2);
}
