mat-toolbar {
  display: flex;
  align-items: center;
}

.flex-stretch {
  flex: 1 0 auto;
}

.content {
  padding: 0;
  min-height: 100vh;
}

mat-card {
  max-width: 400px;
}

.app__icon:hover {
  transform: scale(1.2, 1.2);
}

a {text-decoration: none;
  color: #fff;
}

a:hover {
  color: #000;
}


